/*		--- styles.css --- 			*/
html {
	outline: none;
	box-sizing: border-box;
}

h1 {
	font-size: 14px;
}

h2 {
	font-size: 12px;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: #ffe6e6;
}

aside {
	position: absolute;
	top: 50px;
	left: 0;
	width: 150px;
	height: 500px;
	background-color: #c4ebf2;
}
/* section-1 content */
section#section-1 {
	position: absolute;
	display: inline-block;
	top: 50px;
	left: 150px;
	width: 425px;
	height: 500px;
	background-color: #dfffe9;
}

.controls {
	position: absolute;
	top: 10px;
	left: 10px;
}

.display {
	position: absolute;
	top: 10px;
	left: 150px;	
}

div#sequencer {	
	position: relative;
	top:130px;
	left: 10px;
}

div#seq-io-one.seq-io-one {
	position: relative;
	top: 117px;
	left: 10px;
}

h2#seq-io-one-txt.seq-io-one-txt {
	position: relative;
	left: 70px;
	top: 90px;
}

div#adsr-one-ctrl {
	position: relative;
	top: 150px;
	left: 10px;
}

div#env-display-1 {
	position: relative;
	top: 37px;
	left: 150px;
}
/*
div#scope-one {
	position: relative;
	top: 250px;
	left: 10px;
}
*/
section#section-2 {
	position: relative;
	padding: 0;
	top: 38px;
	left: 565px;
	width: 425px;
	height: 500px;
	background-color: #dffffb;
}

section#section-2 #piano {
	position: absolute;
	height: 100px;
	width: 400px;
	top: 20px;	
	left: 10px;
	z-index: 2;
}

div#piano-display {
	position: absolute;
	top: 130px;
	left: 10px;
}

div#drum-sequencer {
	position: absolute;
	top: 170px;
	left: 10px;
}

div#drum-io-one {
	position: absolute;
	top: 280px;
	left: 10px;
}

h2#drum-io-one-txt {
	position: absolute;
	top: 280px;
	left: 200px
}
